body {
    background-color: #E873A3;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 700;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

.forecast {
    width: 100%;
    max-width: 50vw;
    margin: 0 auto;
    padding-top: 30vh;
}

.forecast__location {
    font-size: 18px;
    color: #87214C;
}

.forecast__question {
    font-size: 32px;
}

.forecast--answer {
    font-size: 144px;
    color: #87214C;
}

.form {
    margin: 0 auto;
    width: 100%;
    max-width: 50vw;
}

.form__prompt {
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
}

.form input {
    -webkit-appearance: none;
    border-radius: 0;
    margin-left: 0;
    padding-left: 0;
}

.form input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: 1px dashed #a24069;
    margin: 10px 0 50px 0;
    color: #87214C;
    font-size: 36px;
    font-weight: 700;
    width: 100%;
}

::-webkit-input-placeholder {
    color:    #a24069;
}
:-moz-placeholder {
    color:    #a24069;
}
::-moz-placeholder {
    color:    #a24069;
}
:-ms-input-placeholder {
    color:    #a24069;
}

*:focus {
    outline: 0;
}

.form input[type="submit"] {
    display: block;
    background-color: #a24069;
    height: 50px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding: 0 20px;
    text-transform: uppercase;
}

.form input[type="submit"]:hover {
    background-color: #87214C;
    cursor: pointer;
}

@media (max-width: 900px) {
    
    .forecast {
    max-width: 100%;
    padding: 2vh;
    }
    
    .form {
        max-width: 80%;
    }
}
    